<header>
    <nav class="navbar navbar-default">
        <div class="container" >
            <div class="navbar-header"  >
                <a class="navbar-brand" href="#/"> Liepājas Sporta Informācijas Sistēma </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><i class="fa fa-home"> Sākums </i> </a></li>
                <li><a href="#/gameListPublic"><i class="fa fa-home"> Spēles </i> </a></li>
                <li ng-if="isUserLoggedIn"><a href="#/adminMenu"><i class="fa fa-home"> Administrēšanas funkcijas </i> </a></li>
                <li ng-if="!isUserLoggedIn"><a href="#/login"><i class="fa fa-home"> Autentificēties </i> </a></li>
                <li ng-if="isUserLoggedIn"><a href="#/logout"><i class="fa fa-home"> Izlogoties </i> </a></li>
            </ul>
        </div>
    </nav>
</header>



<div class="smallContainer">
    <h1> Liepajas sports event's online sport protocols system </h1>
    <h2></h2>
    <h3> Welcome to Liepajas sports event's online protocols system.
    The main aim of this system is to watch online text protocols from live sport's events.
    </h3>
    <h1> Liepājas sporta spēļu protokolu tiešsaistes sistēma </h1>
    <h3> Sveicināti Liepājas sporta spēļu protokolu tiešsaistes sistēmā!
    Sistēmas galvenais mērķis ir nodrošināt sporta spēļu teksta protokolus tiešsaistē.
    </h3>
    <img src="pics/Liepaja_sporto_2.png" width="400" height="280">
    <h5>Test login data: username - karlis, password - k </h5>
    <h5>Testa pieejas dati: lietotajvārds - karlis, parole - k</h5>
</div>