<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />    
<header>
        <nav class="navbar navbar-default">
            <div class="container" >
                <div class="navbar-header"  >
                    <a class="navbar-brand" href="#/"> Liepājas Sporta Informācijas Sistēma </a>
                </div>
    
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"><i class="fa fa-home"> Sākums </i> </a></li>
                    <li><a href="#/gameListPublic"><i class="fa fa-home"> Spēles </i> </a></li>
                    <li ng-if="isUserLoggedIn"><a href="#/adminMenu"><i class="fa fa-home"> Administrēšanas funkcijas </i> </a></li>
                    <li ng-if="!isUserLoggedIn"><a href="#/login"><i class="fa fa-home"> Autentificēties </i> </a></li>
                    <li ng-if="isUserLoggedIn"><a href="#/logout"><i class="fa fa-home"> Izlogoties </i> </a></li>
                </ul>
            </div>
        </nav>
    </header>
<div class="row smallContainer" ng-init="checkUserRights();getGameList();getSportList();getTeamList()">
        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">Lietotāju saraksts:</h3>
</div>
    <table border="1" ng-init="checkUserRights();getUserList()" class="table table-striped">
        <tr>
            <th> Lietotājvārds </th>
            <th> Vārds </th>
            <th> Uzvārds </th>
            <th> </th>
            <th> </th>
        </tr>
        <tr ng-repeat="u in userlist.data">
            <td>{{u.username}}</td>
            <td>{{u.name}}</td>
            <td>{{u.surname}}</td>
            <td> <a href="" ng-click="deleteUser(u._id)"> Dzēst </a></td>
            <td> <a href="" ng-click="editUser(u)"> Labot </a> </td>

        </tr>
    </table>

